.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url('flood3.jpg') no-repeat center center fixed;
  background-size: cover; /* Ensure the image covers the entire screen */
  color: white;
}

/* Add a pseudo-element to apply the blur effect to the background */
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit; /* Use the same background as the body */
  background-size: cover; /* Match the original background size */
  filter: blur(2px); /* Apply the blur effect */
  z-index: -1; /* Ensure it stays in the background */
}

div.stApp {
  z-index: 1; /* Ensure content stays above the background */
}


